.h1 
{
    text-align: center;
    font-weight: bold;
    text-decoration-color: aquamarine;
}

.h4
{
    text-align: center;
    font-weight: bold;
    text-decoration-color: aquamarine;
}

.h5
{
    text-align: center;
    font-weight: bold;
    text-decoration-color: aquamarine;
}
  
.a
{
    text-align: center;
    font-weight: bold;
    text-decoration-color: aquamarine;
}
